@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: #fff;
    --black: #111;
    --main-color: #808B96;
    --navbar-color: #566573;
    --blue-light-color: #7395AE;
    --blue-dark-color: #557A95;
    --last-color: #B1A296;


}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main-color);
}


.name {
    color: #2ECC71;
}

#btn {
    background-color: #2ECC71;
    padding: 8px 10px;
    border-radius: 20px;
    color: var(--black);
}

#btn:hover {
    background-color: #58D68D;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--navbar-color);
}

.header .flex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo {
    font-size: 3rem;
    height: 80px;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.header .flex .logo span {
    color: #2ECC71;
}




.navbar a {
    // margin-left: 2rem;
    text-decoration: none;
    font-size: 2rem;
    color: var(--white);
    transition: all .3s ease-in-out;
    margin-right: 5rem;

}

.navbar a:hover {
    color: #2ECC71;
}

#menu-btn {
    cursor: pointer;
    color: var(--black);
    font-size: 2.5rem;
    display: none;
    margin-right: 2rem;
}

/* ------------------------------ */
/* ------------------------------ */

    .home {
        height: calc(100vh - 50px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .home .image {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home .image img {
        margin-top: 9rem;
        width: 400px;
    }

    .home .content {
        margin-top: 9rem;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home .content h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .home .content p {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .home .content a {
        text-decoration: none;
        font-size: 1.6rem;
        color: var(--white);
        border-bottom: 3px solid var(--white);
                transition: all .3s ease-in-out;

    }

    .home .content a:hover {
        color: #2ECC71;
        border-bottom: 3px solid #2ECC71;
    }

/*--------------------------------*/
/*--------------------------------*/

/*-------------------------------*/
// # Media Queries
/*-------------------------------*/

@media (max-width: 400px) {
        .home {
        height: calc(100vh - 50px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        margin: auto;
    }
        .home .image {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home .image img {
        margin-top: 15rem;
        width: 10px;
    }

    .home .content {
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .home .content h1 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .home .content p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

}

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }
    /*--------*/
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
        transition: all .3s ease-in-out;
    }

    #menu-btn.fas-times {
        transform: rotate(180deg);
                transition: all .3s ease-in-out;

    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: 0.1rem solid var(--light-white);
        border-bottom: 0.1rem solid var(--light-white);
        background-color: var(--navbar-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                transition: all .3s ease-in-out;

    }

    .header .flex .navbar.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .logo {
        height: 50px;
    }

    .header .flex .navbar  a {
    display: block;
    margin: 2rem;
    text-align: center;
    background-color: var(--blue-dark-color);
    padding: 8px 0;
    border-radius: 20px;
    }

    #btn {
        text-align: center;
    }
    /*------------*/

    .home {
        height: calc(100vh - 50px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        margin: auto;
    }

    .home .image {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home .image img {
        margin-top: 9rem;
        width: 400px;
    }

    .home .content {
        margin-top: 3rem;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .home .content h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .home .content p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

}

@media (max-width: 992px) {
    html {
        font-size: 55%;
    }

}
